<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
            <title>slide image tutorial</title>
                 <body>
	<div class="slideshow-container">
	  <div class="mySlides">
	    <img src="../static/images/disease1.jpg">
	  </div>
	  <div class="mySlides">
	    <img src="../static/images/disease2.jpg">
	  </div>
	  <div class="mySlides">
	    <img src="../static/images/disease3.jpg">
	  </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js">
	var slideIndex = 0;
	showSlides();

	function showSlides() {
	    var i;
	    var slides = document.getElementsByClassName("mySlides");
	    for (i = 0; i < slides.length; i++) {
	        slides[i].style.display = "none";
	    }
	    slideIndex++;
	    if (slideIndex > slides.length) {slideIndex = 1}
	    slides[slideIndex-1].style.display = "block";
	    setTimeout(showSlides, 2000); // Change image every 2 seconds
	}
	</script>

        </body>
    </html>
